{% extends "base.html" %}
{% block content %}
  <div id="banner-aupi">
    <div class="container-aupi">
      <div class="row">
        <div class="col-md-6">
            <h1><span>Bem-vindos!</span></h1>
            <h2>Junte-se a nós e nos ajude a encontrar um lar para nossos <span>Aumigos!</span></h2>
            <a class="doc-aupi-btn" href="{{ base_url }}">Iniciar!</a> 
        </div>
        <div class="col-md-6">
          <div class="dog">
              <div class="ears"></div>
              
              <div class="body">
                <div class="eyes"></div>
                <div class="beard">
                  <div class="mouth">
                    <div class="tongue"></div>
                  </div>
                </div>
                <div class="belt">
                  <div class="locket"></div>
                  <div class="dot dot1"></div>
                  <div class="dot dot2"></div>
                  <div class="dot dot3"></div>
                  <div class="dot dot4"></div>
                  <div class="tag"></div>
                </div>
                <div class="stomach">
                </div>
                <div class="legs">
                  <div class="left"></div>
                  <div class="right"></div>
                </div>
              </div>
              <div class="tail"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}